.login-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-dialogue{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.login-dialogue form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
    width: 100%;
}

.icon-container_nav{
    margin-left: 12px;
    cursor: pointer;
}
.icon-container_nav img {
    display: block;
    width: 56px;
    height: 56px;
}