
nav {
    display: flex;
    height: 5rem;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.nav-main{
    width: 25%;
    height: inherit;
    padding: 5px;
}
.nav-action{
    width: 50%;
    height: inherit;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-admin{
    width: 25%;
    height: inherit;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-container_nav{
    margin-left: 12px;
    cursor: pointer;
}
.icon-container_nav img {
    display: block;
    width: 56px;
    height: 56px;
}