<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pos.css" />
    <title><%=pageTitle%></title>
  </head>
  <body>
    <nav>
      <div class="nav-main">
        <span class="icon-container_nav">
          <a href="/pos/system"
            ><img src="/img/icons/logout.png" alt="products"
          /></a>
        </span>
      </div>
      <div class="nav-action">
        <span class="icon-container_nav">
          <a href="/pos/system"
            ><img src="/img/icons/full-screen.png" alt="products"
          /></a>
        </span>
      </div>
      <div class="nav-admin">
        <span class="icon-container_nav">
          <a href="/pos/system"
            ><img src="/img/icons/user.png" alt="products"
          /></a>
        </span>
        <input type="text" name="userFullName" value="حسام حمايه" readonly />
      </div>
    </nav>
    <main>
      <section class="item-select">
        <div class="categories">
          <button type="button" class="cat-name_btn">أسماك</button>
          <button type="button" class="cat-name_btn">فواكه البحر</button>
          <button type="button" class="cat-name_btn">قشريات</button>
        </div>
        <div class="items">
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
          <div class="item-name_container">
            <div class="item-price">kw 15</div>
            <button type="button" class="item-btn">بلطى مقلى</button>
          </div>
        </div>
      </section>
      <section class="order-create">
        <div class="bill-header">
          <h5>اسم الصنف</h5>
          <h5>الكميه</h5>
          <h5>السعر</h5>
          <h5>المجموع الفرعى</h5>
        </div>
        <form action="/create/order" method="post">
          <div class="bill-items">
            <div class="bill-item_container">
              <textarea
                name="itemTitle"
                id=""
                cols="3"
                rows="2"
                class="bill-input"
              >
سمك بلطى مقلى</textarea
              >
              <input
                type="number"
                name="quantity"
                value="1.50"
                class="bill-input"
              />
              <input
                type="text"
                name="itemPrice"
                value="25"
                class="bill-input"
                readonly
              />
              <input type="text" value="158" class="bill-input" />
              <span class="icon-container"
                ><img src="/img/icons/delete.png" alt="delete"
              /></span>
            </div>
            <div class="bill-item_container">
              <textarea
                name="itemTitle"
                id=""
                cols="3"
                rows="2"
                class="bill-input"
              >
  سمك بلطى مقلى</textarea
              >
              <input
                type="number"
                name="quantity"
                value="1.50"
                class="bill-input"
              />
              <input
                type="text"
                name="itemPrice"
                value="25"
                class="bill-input"
                readonly
              />
              <input type="text" value="158" class="bill-input" />
              <span class="icon-container"
                ><img src="/img/icons/delete.png" alt="delete"
              /></span>
            </div>
            <div class="bill-item_container">
              <textarea
                name="itemTitle"
                id=""
                cols="3"
                rows="2"
                class="bill-input"
              >
  سمك بلطى مقلى</textarea
              >
              <input
                type="number"
                name="quantity"
                value="1.50"
                class="bill-input"
              />
              <input
                type="text"
                name="itemPrice"
                value="25"
                class="bill-input"
                readonly
              />
              <input type="text" value="158" class="bill-input" />
              <span class="icon-container"
                ><img src="/img/icons/delete.png" alt="delete"
              /></span>
            </div>
          </div>
          <div class="totals-container">
            <div class="bill-totals_fees">
              <input
                type="text"
                name="orderTax"
                placeholder="نسبة الضريبه"
                class="bill-client_input"
              />
              <input
                type="text"
                name="orderDiscount"
                placeholder="مبلغ الخصم"
                class="bill-client_input"
              />
              <input
                type="text"
                name="orderDelivery"
                placeholder="رسوم التوصيل"
                class="bill-client_input"
              />
            </div>
            <div class="bill-totals_fees">
              <div class="input-groub">
                <label>المجموع الفرعى</label>
                <input
                  type="text"
                  name="subTotal"
                  value="4659"
                  class="bill-client_input"
                />
              </div>
              <div class="input-groub">
                <label>المجموع الكلى</label>
                <input
                  type="text"
                  name="billTotal"
                  value="4659"
                  class="bill-client_input"
                />
              </div>
            </div>
          </div>
          <div class="bill-client-input_container">
            <input
              type="text"
              name="phoneNumber"
              placeholder="رقم الهاتف"
              class="bill-client_input"
            />
            <input
              type="text"
              name="clientName"
              placeholder="اسم العميل"
              class="bill-client_input"
            />
            <input
              type="text"
              name="clientAddress"
              placeholder="العنوان"
              class="bill-client_input"
            />
          </div>
          <div class="select-groub">
            <label>الفرع</label>
            <select name="branch">
              <option value=""></option>
              <option value="">فرع حوالى</option>
              <option value="">فرع السالميه</option>
              <option value="">فرع الكاظمه</option>
            </select>
          </div>
          <div class="form-btn_container">
            <button type="submit" class="create-order_btn">انشاء الطلب</button>
            <button type="button" class="cancel-order_btn">الغاء</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
